<div class="skeleton-shipment-modal">
  <div class="skeleton-shipment-modal__label skeleton skeleton--line skeleton--1/4"></div>

  <div class="skeleton-shipment-modal__table">
    <div class="skeleton-shipment-modal__head">
      <div class="skeleton skeleton--line skeleton--1/2"></div>
      <div class="skeleton skeleton--line skeleton--2/3 skeleton--self-right"></div>
    </div>

    <div class="skeleton-shipment-modal__rows">
      {% for i in 1..3 %}
        <div class="skeleton-shipment-modal__row">
          <div class="skeleton skeleton--checkbox"></div>
          <div class="skeleton skeleton--img-square"></div>
          <div class="skeleton skeleton--cell skeleton--xl"></div>
          <div class="skeleton skeleton--line skeleton--xl"></div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="skeleton-shipment-modal__label skeleton skeleton--1/3 skeleton--sm"></div>

  <div class="skeleton-shipment-modal__select skeleton skeleton--line skeleton--lg"></div>

  <div class="skeleton skeleton--1/4 skeleton--sm"></div>
</div>
